@font-face {
  font-family: proxima;
  src: url(../../asset/font/proxima.woff);
}

@font-face {
  font-family: zap;
  src: url(../../asset/font/zap.woff); 
}

* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	border-style: none;

	  


 
	
}

:root {
	--menu-bg: #897A73;
	--menu-txt: #ECE8DD;
	--txt: #FFFFFF;
	--txt-nama: #6F8555;
}

body {
	background-color: #fff;
	overflow-x: hidden;



}

a {
	color: inherit;
	display: inline-block;
}

h1, h2, h3, h4 {
	font-family: proxima;
}

p, a, cite, blockquote {
	font-family: zap;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3%;
	position: fixed;
	color: #fff;
	background-color: rgba(0,0,0,0);
	top: 0;
	z-index: 999;
	
	width: 100%;
	height: 100px;
	font-size: 1.2rem;
	font-weight: 200;
	transition: .7s;
}

.nav.active {
	background-color: #ececea;
	color: #fff;
}

.nav.active .icon-shop svg g {
	stroke:#fff;
}

.nav.active #humberger-menu line {
	stroke: #fff;
}

.nav .icon-shop svg g {
	stroke: #fff; 
}

.nav #humberger-menu {
	display: none;
}

.nav ul li a {
	padding: 2rem;

}

.nav .logo {
	margin-left: 2.8rem;
}

.nav .logo h2 {
	font-size: 2.3rem;
}





.nav ul, .nav-right {
	display: flex;
	align-items: center;
}

.nav .nav-right .icon-shop {
	margin-left: 2rem;
}



.box-menu {
	position: fixed;
	z-index: 998;
	left: -100%;
	width: 100%;
	height: 100vh;
	background-color: #ececea;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	transition: .7s;
}

.box-menu.active {
	left: 0;
}

.box-menu .list-menu {
	text-align: center;
}

.box-menu .list-menu li a {
	font-size: 1.7rem;
	padding: .7rem 1.7rem; 
}

.box-menu .link-social {

}

.box-menu .link-social .icon-social {
	margin-top: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;

}


.container {
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-image: url(../../asset/img/12.jpg);
	background-position: center;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.container .name-page {
	font-size: 2.6rem;
	letter-spacing: 2px;
	color: #fff;
	margin-bottom: 2rem;
}

.container-typ {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.container-typ .box-quote {
	height: 40vh;
	padding: 0 4%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.container-typ .box-quote p {
	font-size: 1.3rem;
	text-align: center;
	width: 50rem;
}

.container-typ .box-quote h2 {
	margin-top: 1.2rem;
	font-size: 1.1rem;
	text-align: center;
	color: #a4a4a4;
}

.container-typ .contain {
	width: 50rem;
	padding: 0 2%;

}

.container-typ .contain {
	text-align: center;

}


.instagram {
	margin-top: 5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	grid-gap: .4rem;
}

.instagram h4 {
	font-size: 1.5rem;
}

.footer-brands {
	background-color: #eee;
	margin-top: 10rem;
	height: 25vh;
	display: flex;
	padding: 0 2%;
	justify-content: space-between;
	align-items: center;
}

.footer-brands a {
	color: #a8a8a8;
}

.footer-brands .subscribe {
	font-size: 1.2rem;
}

.footer-brands .brand {
	font-size: 1.6rem;
	margin-right: 10rem;
}

.footer-brands .icon {
	display: flex;
}

.footer-brands .icon i {
	margin-right: 1rem;
	color: #a8a8a8;
}

.footer-contact {
	height: 15vh;
	background-color: #eee;
	color: #a8a8a8;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	grid-gap: 1rem;
	padding: 3%;
}

.footer-contact a {
	font-size: .9rem;
}