@media(max-width: 1026px) {


	.nav {
		height: 80px;
		font-size: 1rem;
		padding: 5px 1%;
	} 

	.nav ul {
		justify-content: space-around;
	}

	.nav ul li a {
		padding: 1.2rem;
	}

	.nav .icon-shop {
		margin-right: .5rem;
	}

	.nav .logo h2 {
		font-size: 1.4rem;
	}

	.container-typ .box-quote {
		width: 100%;
		padding: 0 3%;
	}

	

	.container-typ .box-quote h2 {

		font-size: 1.2rem;
	}

	.container-typ .contain {
		font-size: .8rem;
		padding: 0 5%;

		width: 100%;
		
	}

	.container-typ .contain p {
		
		padding: 0 7%;
		
	}
}